*{ margin: 0;
  padding: 0; 
  box-sizing: border-box;

}

.conteudo{
    background-image: url(../imagens/neve4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
    align-items: center;
    padding-top: 50px;
    
}

.texto{
  color: whitesmoke;
  text-align:center;  
  background: rgba(26, 25, 25, 0.603);
  width: 60%;
  padding: 2%;
  font-size: 25px; 
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.botao{    
    height: 40px;
    width: 120px;
    background-color: #836b5fef;
    border-radius: 10px;
    margin-top: 20px;
    border: none;
    cursor: pointer;
  }

  .botao:hover{
    background: rgb(71, 40, 107);
  }
  .rodape{
    
    color: whitesmoke;
    font-size: 18px;

  }
  @media (max-width: 900px){
    .containerinicio{
        text-align: center;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        height: 100vh;
        width: 100%;
        background-position: center;
        background-size: contain;    
        
        
    }

    .containerinicio {
        font-size: 30px;
    }
  }

  @media (max-width: 900px){
    .conteudo{
        text-align: center;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        height: 100vh;
        width: 100%;
        background-position: center;
        background-size: contain;    
        
        
    }

    .texto{ 
        font-size: 20px;
    }

    .rodape{
      font-size: 10px;
      color: whitesmoke
    }
  }


    @media (max-width: 700px){
      .conteudo{
        text-align: center;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        height: 100vh;
        width: 100%;
        background-position: center;
        background-size: contain;    
        
        
    }

    .texto{ 
        font-size: 10px;
    }

    .rodape{
      font-size: 08px;
      color: whitesmoke
    }
  }
  @media (max-width: 320px){
    .conteudo{
      text-align: center;
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      height: 100vh;
      width: 100%;
      background-position: center;
      background-size: cover;    
      
      
  }

  .texto{ 
      font-size: 10px;
  }

  .rodape{
    font-size: 08px;
    color: whitesmoke
  }
  }

  
  


