*{ margin: 0;
    padding: 0; 
    box-sizing: border-box;
  
  }
  
  .conteudo{

      background-image: url(../imagens/praca.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 100vh;
      width: 100vw;
      display: flex;
      flex-direction: column;
      justify-content: space-between;    
      align-items: center;
      padding-top: 50px;
      
  }

  .texto{
    color: whitesmoke;
    background-color: rgba(0, 0, 0, 0.267);
    text-align:center;
    padding: 2%;
    font-size: 25px; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 60%;
  }

  
  
  .botao{    
      height: 50px;
      width: 130px;
      background-color: rgb(21, 21, 233);
      border-radius: 10px;
      margin-top: 20px;
      border: none;
      cursor: pointer;
    }
  
    .botao:hover{
      background: yellow;
    }


    .rodape{    
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 70px;
      position:relative;
      bottom:0;
      left:0;
      text-align: center;
      color: whitesmoke;      
      
    }

    @media (max-width: 900px){
      .containerinicio{
          text-align: center;
          display: flex;
          justify-content: space-around;
          flex-direction: column;
          height: 40%;
          width: 100%;
          background-position: center;
          background-size: contain;    
          
          
      }
  
      .texto{ 
        font-size: 20px;
    }
  
    .rodape{
      font-size: 10px;
      
    }

    }    
      @media (max-width: 700px){
        .containerinicio{
            text-align: center;
            display: flex;
            justify-content: space-around;
            margin-bottom: 30px;
            flex-direction: column;
            height: 40px;
            width: 100%;
            background-position: center;
            background-size: cover;    
            
            
        }
    
        .containerinicio {
            font-size: 25px;
        }

        .texto{ 
          font-size: 20px;
      }
    
      .rodape{
        font-size: 10px;
        
      }
    }

    @media (max-width: 300px){

      .conteudo{
          text-align: center;
          display: flex;
          justify-content: space-around;
         flex-direction: column;
          height: 100vh;
          width: 100vh;
          background-position: center;
          background-size: cover;    
            
            
        }
      
        .texto{ 
            font-size: 20px;
        }
      
        .rodape{
          font-size: 10px;
          
        }
    
    }      
  
    
  
