*{ margin: 0;
    padding: 0; 
    box-sizing: border-box;
  
}
  
.conteudo{
      background-image: url(../imagens/mansao.webp);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: space-between;    
      align-items: center;
      padding-top: 50px;
      
}
.texto{ 
      text-align:center;  
      color: whitesmoke; 
      background-color: rgba(112, 84, 131, 0.356);
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;     
      font-size: 25px; 
      width: 60%;
      padding: 2%;
  
}
        
  
.botao{
        height: 50px;
        width: 120px;
        background-color: #B8CCD9;
        border-radius: 10px;
        margin-top: 20px;
        border: none;
        cursor: pointer;
 }
  
.botao:hover{
        background: #20308C;
}

.rodape{    
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 70px;
      position:relative;
      bottom:0;
      left:0;
      text-align: center;
      color: whitesmoke;
      
      
 }

@media (max-width: 900px){
      .containerinicio{
          text-align: center;
          display: flex;
          justify-content: space-around;
          flex-direction: column;
          height: 100%;
          width: 100%;
          background-position: center;
          background-size: contain;    
          
          
      }
  
      .containerinicio {
          font-size: 05px;
      }

      
    } 
    
      @media (max-width: 320px){
        .containerinicio{
            text-align: center;
            display: flex;
            justify-content: space-around;
            margin-bottom: 30px;
            flex-direction: column;
            height: 100vh;
             background-position: center;
            background-size: cover;    
            
            
        }
    
        .containerinicio {
            font-size: 10px;
        }

        .texto{
            width: 300px;
        }

        
    }