*{ margin: 0;
    padding: 0; 
    box-sizing: border-box;
  
  }
  
  .conteudo{ 
      text-align: center;
      font-size: 30px;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      background-image: url(../imagens/toniwin.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 100vh;
      
  }

  .texto{    
    background-color: rgba(112, 84, 131, 0.356);
    width: 600px;
    height: 350px;

  }
  
  

  .botao{
      height: 50px;
      width: 120px;
      background-color: #B8CCD9;
      border-radius: 10px;
      margin: 0px auto;
      border: none;
      cursor: pointer;
    }

    .botao:hover{
      background: #20308C;
    }