*{ margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.conteudo{
    background-image: url(./imagens/portal4.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;   
    height: 100vh;
    width: 100%;


}
.containertexto {
    color: #F7F8F3;
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align:center;
    background: #20308c80;
    height: 170px;
      
    
}


.personagens{
display: flex;
justify-content: space-around;
flex-direction: row;
padding-top: 10px;

}

.card{
    width: 200px;
    height: 400px;
    text-align: center;
}

.nomes{
    font-size: 30px;
    color: whitesmoke;
    background: #20308c80;
  
}

.botao{
    border-radius: 5px;
    height: 40px;
    width: 100px;
    background: #6E30F2;
    color: black;
}


.botao a{
    text-decoration: none;
    font-size: 14px;
    color: #F7F8F3;
} 

.botao:hover{
    background:#20308C;

}


.rodape{    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
    position:relative;
    bottom:0;
    left:0;
    text-align: center;
    color: whitesmoke;
    
    
  }

  @media (max-width: 900px) {

    .conteudo {
        text-align: center;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        height: 100%;
        width: 100%;
        background-position: center;
        background-size: cover;  
          
          
    }
  
    .containertexto{ 
        font-size: 20px;
        height: auto;
    }

  
    .rodape{
      font-size: 10px;
      
    }
    
}
   

@media (max-width: 300px){


    .conteudo {
        text-align: center;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        height: 100vh;        
        background-position: center;
        background-size: cover;  
          
          
    }


  .containertexto{
      text-align: center;
      height: auto;  
      width: auto;
               
        
    }
  
    .personagens{ 
        font-size: 15px;
        height: 100%;
        width: 70%;
        display: flex;
        align-items: center;
      
        
    }

    .card{
        
        height: 70%;
        width: 70%;
    }

   
  
    .rodape{
      font-size: 10px;
           
    }

}    