*{ margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.conteudo{
    background-image: url(./imagens/portal4.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;   
    height: 100vh;
    width: 100%;


}
.containertexto {
    color: #F7F8F3;
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align:center;
    background: #20308c80;
    height: 170px;
      
    
}


.personagens{
display: flex;
justify-content: space-around;
flex-direction: row;


}

.card{
    width: 200px;
    height: 400px;
    text-align: center;
}

.nomes{
    font-size: 30px;
    color: whitesmoke;
    background: #20308c80;
  
}

.card img{
    max-width: 200px;
    
}

.botao{
    border-radius: 5px;
    height: 40px;
    width: 100px;
    background: #6E30F2;
    color: black;
}


.botao a{
    text-decoration: none;
    font-size: 14px;
    color: #F7F8F3;
} 

.botao:hover{
    background:#20308C;

}


.rodape{    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
    position:relative;
    bottom:0;
    left:0;
    text-align: center;
    color: whitesmoke;
    
    
  }
  @media (max-width: 1024px){


    .conteudo{

    }

     .personagens{
        margin-top: 40px;

    }  

    .card{
        height: 300px;
    }
    
    .rodape{
    
    height: 35px;
    } 

    .rodape p{
        margin-top: 40px;
    }
   
    
}


  @media (max-width: 768px) {

    .conteudo{
        display: flex;
        flex-direction: column;
        justify-content: space-between;


    }
  
     .containertexto{ 
        font-size: 18px;
        height: auto;
    }

  
     .rodape{
        display: flex;
        align-items: flex-end;
         position:relative;
        bottom:0;
        left:0;
    } 
   
    
}

@media (max-width: 425px){

    .conteudo{
        border: solid 2px yellow;
    }
    .containertexto{
        font-size: 15px;
        background: #1e32a3b9;
        padding: 2%;
        
    }

    .personagens{
        width: 100%;
        height: auto;

    }
    .card{
            width: 70px;
            height: 50px;
            text-align: center;
            margin-bottom: 200px;
                    }
    .card h2{
        font-size: 10px;
    }                

    .card img{
        max-width: 70px;
        
    } 
    
    .card button{
        height: 30px;
        width: 50px;
    }

    .card button a{
        font-size: 10px;
    }
       

        
    }
   

@media (max-width: 350px){
    .card{
        width: 70px;
        height: 50px;
        text-align: center;
        margin-bottom: 200px;
                }
.card h2{
    font-size: 10px;
}                

.card img{
    max-width: 50px;
    
} 

.card button{
    height: 30px;
    width: 50px;
}

.card button a{
    font-size: 10px;
}


   

}    

